@page "/CurriculoKayllaS"

<PageTitle>CurriculoKaylla</PageTitle> 



<h1>Curriculo</h1>

<div class="Img">
    <img src="img/eu.jpg" alt="Foto de Perfil" width="150" height="150"/>
</div>

<div class=" pessoal">
    <h2>Informações Pessoais</h2>
<p>Nome: Kaylla Stéfany Teixeira de Brito.</p>
<p>Idade: 17 anos.</p>
<p>Email: kayllabrito071@gmail.com</p>
<p>Telefone: (69) 99920-8334</p>
<p>Número de matrícula: 2023102020016</p>
<p>Cidade/Estado: Ji-Paraná - Rondônia(RO)</p>
<p>Conclusão do ensino fundamental: 2022</p>
</div>

<div class="forma">
<h3>Formação Acadêmica</h3>
<p>Curso: Técnico em informática integrado ao ensino médio</p>
<p>Instituição: Instituto Federal de Rondônia, IFRO - Campus Ji-Paraná</p>
<p>Período: 2023 - Em andamento</p>
<p>Ano previsto para conlusão: 2025</p>
    <h4>Objetivo</h4>
    <p>Desenvolver habilidades técnicas e profissionais na area de informática</p>
</div>


<div class="discip">
<p>
    Discplinas do terceiro e último período do curso:
    <ul>
        <li>Fundamentos em Analise de Sistemas;</li>
        <li>Banco de Dados I;</li>
        <li>Banco de Dados II;</li>
        <li>Instalção e manutenção de Computadores;</li>
        <li>Introdução a técnologia da informação;</li>
        <li>Linguagem de Programação;</li>
        <li>Lógica de Programação;</li>
        <li>Programação OOrienteada a Objetos;</li>
        <li>Programação Web;</li>
        <li>Projeto de Desenvolvimento de Sistemas;</li>
        <li>Redes de Computadores;</li>
    </ul>
</p>
</div>

<div class="lingua">
<h4>Linguagens trabalhadas</h4>

<ul>
    <li>C#</li>
    <li>Css</li>
    <li>Html</li>
    <li>JavaScript</li>
</ul>
</div>

@code {

}
@code {

}
